@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Proza Libre', sans-serif;

  --font-with-bold: 900;
  --font-with-semibold: 400;

  /* COLORS */

  --color-fondo-header: #f2ede8;
  --color-fondo-main-secction: #ffff;
  --color-fondo-footer: #f2ede8;
  --color-texto: #ffff;
  --color-texto-botton: #d1dfda;



}

/* seccion body */
body {
  padding-top: 75px;
}
#inicio {
  scroll-margin-top: 90px;
 
}

#niños,
#bebes,
#nosotros {
  scroll-margin-top: 80px;
}

/* seccion  header */
.logo-title {
  font-family: var(--font-primary);
  font-size: 25px;
   margin: 0; 
   line-height: 1;
  font-weight: var(--font-with-bold);
  color: #684517;
}

.logo-slogan {
  color: #516d1a;
  font-size: 12px;
   margin: 0; 
   line-height: 1;
  font-weight: 700;
}

.navbar {
  background: #f2ede8 !important;
  top: 0;
  z-index: 99;
}
header .collapse a:hover{
  
  /* color: var(--color-texto-botton) !important; */
  transform: scale(1.1);
  
}


/* seccion carrousel  */


/* .carousel-item {
    
    height: auto;
    
} */

.carousel-item img {
  /* height: 700px; */
  object-fit: cover;
  object-position: center;
}


/* seccion proximamente */

.Destacados h1{
  font-family: var(--font-secondary);
  font-weight: 600;
}
.card-bg {
  height: 250px;
  background-size: cover;
  background-position: center;
  /* border-radius: 15px; */
  position: relative;
  overflow: hidden;
}

.card-overlay {
  backdrop-filter: brightness(0.7);
}




/* tienda*/


.niños h4{
  font-family: var(--font-secondary);
}
.bebes h4{
  font-family: var(--font-secondary);
}
.producto-card {
  /* border: solid red;  */
  /* height: 400px; */
  height: 100%;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

/* .producto-card-box{
  border: solid violet;
} */
.titulo-producto {
  font-family: var(--font-primary);
  min-height: 40px;
  line-height: 1.2em;

  display: -webkit-box;
  -webkit-box-orient: vertical;

  -webkit-line-clamp: 2;
  line-clamp: 2;

  overflow: hidden;
}

.producto-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
}


.img-card {
  height: 220px;
  /* border: solid violet; */

  overflow: hidden;
  border-radius: 6px;
}

.img-card img {
  /* border: solid red; */
  width: 100%;
  height: 260px;
  object-fit: cover;
}




/* DETALLE en producto */

.img-detalle {

  height: 400px;
  overflow: hidden;

  border-radius: 10px;

}

.img-detalle img {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .15s ease;

}


.zoom-lupa {
  height: 400px;
  overflow: hidden;
  cursor: zoom-in;
}

.zoom-lupa img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;

}

.zoom-lupa:hover img {
  transform: scale(2);
}


@media (max-width: 768px) {
  .zoom-lupa:hover img {
    transform: none;

  }

  .zoom-lupa {
    cursor: default;
    /* quita la lupa */
  }
}




/*nodal productos*/



/* Modal */
.zoom-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .95);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Imagen en zoom */
.zoom-modal img {
  max-width: 100%;
  max-height: 100%;
  touch-action: pinch-zoom;
}

/* Botón cerrar */
.zoom-cerrar {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
}


/* metodos de entrega y atencion */

.images {
  /* border: solid violet; */
  border-radius: 50%;
  /* border: solid  #d8c5c4; */
  height: 150px;
  width: 150px;
  background: white;
}

svg {
  height: 80px;

  width: 80px;
}
.icono-extra .title{
  /* color: red; */
  font-family: var(--font-primary);
  padding-top:20px ;
  font-size: 20px;
}

/* seccion footer */
footer .text-title{
  color:#684517;
  font-family: var(--font-secondary);
  font-weight: 800;
  
}
footer h3{
  /* color: red; */
  font-family: var(--font-primary);
  font-size: 18px;
font-weight: 600;
}



/* metodos de pago */
.pago img {
  height: 30px;
  width: 30px;
}
/* seccionredes sociales */
.redes svg {
  height: 30px;
  width: 30px;

}
.redes svg:hover{
  transform: scale(1.1);
}

/* botom watsap */

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  background-color: #25D366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.whatsapp-float:hover {
  background-color: #1ebe5d;
  color: #fff;
}



.arriba {
  /* display:inline-block; */
  /* text-align: center; */
  /* border: solid; */

  /* background-color:#1ebe5d; */
  top: -25px;

  line-height: 50px;
  /* color:red; */
  color: #1ebe5d;
  font-size: 20px;
  position: relative;
}

.arriba:hover {
  color: #1ebe5d;
}




@media (min-width: 992px) {

  .carousel-inner .slider {
    max-height: 80vh;
    /* object-fit: cover; */
    /* object-position: center; */
  }

  .carousel-inner .slider img {
    height: 100vh;
  }

}