@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    color: azure;
    font-family:'Work Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
 
    
button{
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 80px;
    background-color: rgb(37, 121, 107);
    border: none;
}

button a{
    font-family: 'Righteous', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

button:hover{
    background-color: rgb(50, 194, 194);
}

.greetings{
    font-size: 5rem;
    font-family:'Righteous', sans-serif ;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
.description span{
    font-size: 30px;
}
@keyframes glow{
    0%, 100%{
        color: #eeb20f;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #ebe1e1;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}
.greetings > span:nth-child(6){
    animation-delay: 1s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}



@media screen and (max-width:768px){
    .greetings{
        display: block;
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
    }
    .description span{
        font-size: 1.5rem;
    }
    
    .button a{
        font-size: 1rem;
    }
}